<div class="container-fluid">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Date Of Birth</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Gender</th>
        </tr>
        <tr *ngFor="let value of ValueList">
            <td>{{value.name}}</td>
            <td>{{value.address}}</td>
            <td>{{value.dob}}</td>
            <td>{{value.role}}</td>
            <td>{{value.phones}}</td>
            <td>{{value.gender}}</td>
        </tr>
    </table>
</div>