<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" (click)="changeTab('add-record')">Add Record</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="changeTab('record-list')">Record List</a>
        </li>
    </ul>
</nav>


<div *ngIf="currentTab === 'add-record'">
    <app-add-record></app-add-record>
</div>
<div *ngIf="currentTab === 'record-list'">
    <app-record-list></app-record-list>
</div>